version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: frontend-digital-cockpit_app
    container_name: fdc_app
    restart: unless-stopped
    environment:
      APP_ENV: local
      APP_DEBUG: 'true'
      DB_HOST: db
      DB_PORT: '3306'
      DB_DATABASE: app
      DB_USERNAME: root
      DB_PASSWORD: root
    volumes:
      - ./:/var/www/html
      - vendor:/var/www/html/vendor
      - node_modules:/app/node_modules
    depends_on:
      - db

  web:
    image: nginx:1.21-alpine
    container_name: fdc_web
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: fdc_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  vendor:
  node_modules:
  dbdata:
