version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: frontend-digital-cockpit_app
    container_name: fdc_app
    restart: unless-stopped
    environment:
      APP_ENV: local
      APP_DEBUG: 'true'
      API_URL: "http://47.129.32.35:9000"
    volumes:
      - ./:/var/www/html
      - vendor:/var/www/html/vendor
      - node_modules:/app/node_modules
    # No local DB; the application communicates with external API

  web:
    image: nginx:1.21-alpine
    container_name: fdc_web
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app


volumes:
  vendor:
  node_modules:
